@page "/ParentComponentYear"
@using BlazorBasics.Components
<h1>Parent Component</h1>

<p>ParentYear: @ParentYear</p>

<ChildComponentYear @bind-Year="ParentYear" @bind-Year:event="YearChanged"/>

<button class="btn btn-primary" @onclick="ChangeTheYear">
    Change Year to 1986
</button>

@code {
    [Parameter]
    public int ParentYear { get; set; } = 1978;

    private void ChangeTheYear()
    {
        ParentYear = 1986;
    }
}
